<h1>Your Orders</h1>

<% @orders.reverse.each do |order| %>
  <div class="panel panel-default">
    <a href="/orders/<%= order.id %>" class="list-group-item">
      <h4>Order#: <%= order.id %> | <%= order.created_at.strftime("Order Placed: %b %d, %Y") %> | Status: <%= order.status %> | <strong><%= number_to_currency(order.total) %></strong></h4>
    </a>
  </div>
<% end %>

