<h1>Checkout</h1>
</br>
<%= form_for(@order) do |f|%>
<% @cart.line_items.each do |line_item| %>
  <p><%= line_item.item.name%> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %></p>
  <%= f.hidden_field :line_item_ids, :multiple => true, :value => line_item.id %>
<% end %>

<h3> Order total: <strong><%= number_to_currency(@cart.total) %></strong></h3>
<%= f.hidden_field :total, :value => @cart.total%>
<%= f.hidden_field :status, :value => "submitted" %>
</br>

<%= button_to "Submit Order", create_order_path%>

<% end %>