<h1>Checkout</h1>

<%= form_for(@order) do |f|%>
<% @cart.line_items.each do |line_item| %>
  </br>
  <p><%= line_item.item.name%> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %></p>
<% end %>

<h3> Order total: <strong><%= number_to_currency(@cart.total) %></strong></h3>
</br>
<%= button_to "Pay With PayPal", create_order_path%>

<% end %>