<h1>Your Cart</h1>

  
<% if !current_user.cart %>
  <p>Your Cart is empty</p> 
<% end %>

<% @cart.line_items.each do |line_item| %>
  <p><%= link_to line_item.item.name, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %> | <%= link_to "Remove Item", line_item_path(line_item), method: :delete%> | <% if line_item.item.inventory < 5 %>
    <strong>There are only <%= line_item.item.inventory %> items left in stock.</strong>
  <% end %> </p>
<% end %>

<p>Order total: <strong><%= number_to_currency(@cart.total) %></strong> </p>
  <%#number_to_currency(@cart.total) %>
<% if @cart.status == "submitted" %>
  <p>Submitted</p>
<% else %>
  <%= button_to 'Checkout', checkout_path  %>
<% end %>