<%= form_for(@item) do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  
  <%= f.label :price %></br>
  <%= f.text_field :price %></br>
  
  <%= f.label :inventory %></br>
  <%= f.text_field :inventory %></br>
  
  <%= f.label :category %></br>
  <% if @category && @category.name %>
    <p><%= @category.name %></p>
    <%= f.hidden_field :category_id, value: @category.id %></br>
  <% else %>
    <%= f.collection_select :category_id, Category.all, :id, :name %></br>
  <% end %>
  
  <%= f.label :description %></br>
  <%= f.text_field :description %></br>
  </br>
  
  <div class="btn-group">
    <p> <%= f.submit nil, class:"btn btn-primary" %></p>
  </div>
  
<% end %>