<h1><%= @item.name %></h1>

<div class= "row">
  <div class="col-sm-6 col-md-4 ">
     <%= render 'image', locals: @item %>
    <div class="card">
      <%= render 'item', locals: @item %>
    </div>
  </div>
</div>

<br></br>

<% if @item.comments != [] %>
<h4><a href="#" id="js-comments" data-id="<%= @item.id %>">Show Comments</a></h4>
<% end %>

<div id="js-view-comments">
</div>

<%= form_for(@comment) do |f| %>
  <%= f.label "Leave a comment:"%><br/>
  <%= f.text_field :text%>

  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <br></br>
  <%= f.submit %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#js-comments').click(function(e){
      var id = $(this).data("id")
      $.getJSON(`/items/${id}`, function(itemData) {

        var comments = itemData['comments']
        var commentsList = "";

        comments.forEach(function (comment) {
          commentsList += `<div class="container"><div class="thumbnail"><h4>${comment.user.email}</h4><p>${comment.text}</p></div></div>`
        })
        $('#js-view-comments').html(commentsList)
      })
      e.preventDefault();
    });
  });
</script>
