<h1><%= @item.name %></h1>

<div class= "row">
  <div class="col-sm-6 col-md-4 ">
     <%= render 'image', locals: @item %>
    <div class="card">
      <%= render 'item', locals: @item %>
    </div>
  </div>
</div>

<h3>Comments</h3>
<% if @item.comments != [] %>
  <div class="container">
    <div class="thumbnail"> 
      <% @item.comments.each do |comment| %>
        <h4><%= comment.user.email %>:</h4>
        <p><%= comment.text %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for(@comment) do |f| %>
  <%= f.label "Leave a comment:"%><br/>
  <%= f.text_field :text%>
  
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <br></br>
  <%= f.submit %>
<% end %>