<h1><%= @item.name %></h1>

<div class= "row">
  <div class="col-sm-6 col-md-4 ">
     <%= render 'image', locals: @item %>
    <div class="card">
      <%= render 'item', locals: @item %>
    </div>
  </div>
</div>

<br>

<% if @item.comments != [] %>
  <h4><a href="#" id="js-comments" data-id="<%= @item.id %>">Show Comments</a></h4>
<% end %>

<div id="js-view-comments">
</div>

<%= render 'comment_form', locals: @comment %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#js-comments').click(function(e){
      e.preventDefault();
      var id = $(this).data("id")
      $.getJSON(`/items/${id}`, function(itemData) {
        var comments = itemData['comments']
        var commentsList = "";
        comments.forEach(function (commentData) {
          var comment = new Comment(commentData)
          commentsList += comment.buildHtml();
        })
        $('#js-view-comments').html(commentsList);
      })
    });
  });
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form#new_comment').on("submit", function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/comments', values);

      posting.done(function(commentData) {
        var comment = new Comment(commentData)
        var commentFormat = comment.buildHtml();
        $('#js-view-comments').append(commentFormat);
        document.getElementById('submit-comment').disabled = false;
        $('#comment_text').val('');
      });
    });
  });
</script>
