<%= render 'errors', locals: @category %>

<h1>Edit Category</h1>
<br></br>

<%= form_for(@category) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  
  <div class="btn-group">
    <p> <%= f.submit nil, class:"btn btn-primary" %></p>
  </div>
  
<% end %>

<div class="btn-group">
  <p><%= button_to "Delete", category_path(@category), method: :delete, class: "btn btn-danger"%></p>
</div>